{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block css %}
<style>
  .tight{
    margin-top: 50px;
    width: 200px;
    background-color: rgb(250, 198, 198);
  }
</style>
{% endblock %}

{% block body %}
<div class="container tight">
  <form method="POST" action="{{ url_for('auth.login_post') }}">
    <div class="form-group">
      Login
      <input type="login" class="form-control" name="login" id="login" placeholder="login">
      Hasło
      <input type="password" class="form-control" name="password" id="password" placeholder="password">
    </div>
    <center><button type="submit" class="btn btn-primary">Submit</button></center>
    <br><br>
  </form>
</div>
{% endblock %}